@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;600&family=Roboto:wght@300;400&display=swap');
:root {
    --svetloZelena: #86d4aa;
    --srednjeZelena: #3db89c;
    --tamnoZelena: #209677;  /*  rgb(32, 150, 119) */
    --bela: #fff;
    --svetloSiva: #f5f5f5;
    --tamnoSiva: #555;
    --transition: .3s ease;
    --headingFont: 'MuseoModerno', cursive;
    --bodyFont: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--bodyFont);
    color: var(--tamnoSiva);
    line-height: 1.6;
}
h1,h2,h3,h4,h5, h6 {
    font-family: var(--headingFont);
}
