@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;600&family=Roboto:wght@300;400&display=swap');
:root {
    --svetloZelena: #86d4aa;
    --srednjeZelena: #3db89c;
    --tamnoZelena: #209677;  /*  rgb(32, 150, 119) */
    --bela: #fff;
    --svetloSiva: #f5f5f5;
    --tamnoSiva: #555;
    --transition: .3s ease;
    --headingFont: 'MuseoModerno', cursive;
    --bodyFont: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--bodyFont);
    color: var(--tamnoSiva);
    line-height: 1.6;
}
h1,h2,h3,h4,h5, h6 {
    font-family: var(--headingFont);
}
.btn {
    background: var(--tamnoSiva);
    color: var(--bela);
    border-radius: 0;
}
.btn:hover {
    background: var(--srednjeZelena);
    color: var(--bela);
}
.headings::after {
    display: block;
    content: "";
    height: 15px;
    width: 100px;
    background: linear-gradient(to left, var(--tamnoZelena), var(--svetloZelena));
    margin: 30px auto 50px auto;
}
a {
    transition: var(--transition);
    color: var(--tamnoZelena);
}
a:hover {
    color: var(--tamnoSiva);
}
.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}
/****************
nav
****************/
.navbar-brand img {
    width: 50%;
}
nav.bg-light {
    background: rgba(255,255,255,.7) !important;
}
.nav-link {
    text-transform: uppercase;
    color: var(--tamnoZelena) !Important;
}
.nav-link:hover {
    color: var(--srednjeZelena) !Important;
    transition: var(--transition);
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--bela) !important;
    background: var(--tamnoZelena);
}
/****************
footer
****************/
footer {
    background: var(--srednjeZelena);
    line-height: 1.8;
}
footer h4 {
    background: var(--bela);
    display: inline-block;
    padding: 5px 30px;
    margin-bottom: 30px;
    color: var(--tamnoSiva);
}
footer a {
    color: var(--bela);
}
footer .row:last-child {
    border-top: 1px solid white;
}
/****************
header
****************/
header {
    background-image: url(img/header.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
}
/****************
uvod
****************/
.uvod {
    background: var(--srednjeZelena);
    padding: 40px;
    margin-top: -120px;
}
/****************
blog
****************/
.blog {
    background-image: url(img/blog-header.jpg);
    height: 50vh;
    background-position: center;
    background-size: cover;
}
.blog h1 {
    background: rgba(32, 150, 119,.7);
    padding: 30px;
}
.blog-post .text {
    background: var(--srednjeZelena);
    color: var(--bela);
    width: 90%;
    margin: auto;
    position: relative;
    top: -100px;
    padding: 30px;
}
.blog-post .btn:hover {
    background: var(--bela);
    color: var(--tamnoSiva);
}
.widget {
    border: 1px solid var(--srednjeZelena);
}
.widget ul {
    list-style: none;
}
/****************
kontakt
****************/
.kontakt {
    background-image: url(img/header-kontakt.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
}
.kontakt h1 {
    background: rgba(32, 150, 119,.7);
    padding: 30px;
}
.forma {
    background: var(--srednjeZelena);
    padding: 50px;
    margin-top: -120px;
    margin-bottom: 50px;
}
.forma .btn:hover {
    background: var(--bela);
    color: var(--tamnoSiva);
}


